
<section class="container mt-5">
  <h2 class="text-center my-5">Cars</h2>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="table-primary">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Plate</th>
          <th scope="col">Make</th>
          <th scope="col">Model</th>
          <th scope="col">Category</th>
          <th scope="col">Location</th>
        </tr>
      </thead>
      <tbody>
        {{#each cars}}
        <tr>
          <td>{{add @index 1}}</td>
          <td>{{plate}}</td>
          <td>{{make}}</td>
          <td>{{model}}</td>
          <td>{{category}}</td>
          <td>{{location}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
