
<section class="">
  <h2 class="text-center my-5">Cars</h2>
  <div class="table-responsive">
    <table class="table table-striped table-bordered  admin-table">
      <thead class="table-primary">
        <tr>
          <th scope="col" class="col-1">#</th>
          <th scope="col" class="col-2">Plate</th>
          <th scope="col" class="col-2">Make</th>
          <th scope="col" class="col-2">Model</th>
          <th scope="col" class="col-2">Category</th>
          <th scope="col" class="col-2">Location</th>
          <th scope="col" class="col-2"></th>
        </tr>
      </thead>
      <tbody>
        {{#each cars}}
        <tr>
          <form method="post">
            <td>{{add @index (add ../skip 1)}}</td>

            <td class="form-floating">
              <input type="text" class="form-control p-2" style="height:unset; min-height:unset;"
                name="plate" value="{{plate}}" disabled>
            </td>
            <td class="form-floating">
              <input type="text" class="form-control p-2" style="height:unset; min-height:unset;"
                name="make" value="{{make}}" disabled>
            </td>
            <td class="form-floating">
              <input type="text" class="form-control p-2" style="height:unset; min-height:unset;"
                name="model" value="{{model}}" disabled>
            </td>
            <td class="form-floating">
              <select class="form-select p-2" style="height:unset; min-height:unset;" name="category" disabled>
                <option {{#if (eq category "Large")}}selected{{/if}}>Large</option>
                <option {{#if (eq category "Medium")}}selected{{/if}}>Medium</option>
                <option {{#if (eq category "Small")}}selected{{/if}}>Small</option>
              </select>
            </td>
            <td class="form-floating">
              <select class="form-select p-2" style="height:unset; min-height:unset;" name="location" disabled>
                {{#each ../citiesList}}
                <option {{#if (eq ../location this)}}selected{{/if}}>{{this}}</option>
                {{/each}}
              </select>
            </td>

            <td>
              <div class="d-flex justify-content-center gap-2">
                <button type="button" class="btn btn-primary admin-edit">
                  <i class="bi bi-pencil-square"></i>
                </button>
                <button type="submit" class="btn btn-success admin-save d-none">
                  <i class="bi bi-floppy"></i>
                </button>
                <button type="submit" class="btn btn-danger admin-cancel" name="delete" value="1">
                  <i class="bi bi-trash"></i>
                </button>
              </div>
            </td>

          </form>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <form method="get">
    <input name="page" value={{page}} hidden>
    <input name="limit" value={{limit}} hidden>
    <ul class="pagination justify-content-end">
      <li class="page-item">
        <button class="page-link" name="prev" value="1">Prev.</button>
      </li>
      <li class="page-item">
        <button class="page-link" name="next" value="1">Next</button>
      </li>
    </ul>
  </form>

</section>
