
<section class="container mt-5">
  <h2 class="text-center my-5">Users</h2>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="table-primary">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Surname</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
        <tr>
          <td>{{add @index 1}}</td>
          <td>{{name}}</td>
          <td>{{surname}}</td>
          <td>{{email}}</td>
          <td>{{tel}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
