<section class="card my-5 mx-lg-5">
  <form action="/api/reserve" method="post" class="card-body p-4">
    <input name="category" value={{category.name}} hidden>
    <input name="city" value={{city}} hidden>
    <input name="dateFrom" value={{dateFrom}} hidden>
    <input name="dateTo" value={{dateTo}} hidden>
    
    {{>cards/details category days=days imgWidth=350 }}
    
    <div class="d-flex justify-content-evenly align-items-center gap-3 flex-wrap text-center my-5 py-3 bg-body-tertiary">
      <h5 class="m-0">{{city}}: from {{{date dateFrom}}} to {{{date dateTo}}}</h5>
      <button type="submit" class="btn btn-success px-4 py-3">Book vehicle</button>
    </div>

    <hr class="mb-0"><hr class="mt-0">
    
    <div class="d-flex align-items-center flex-column gap-4">
      <h3>Testimonials from {{city}}</h3>
      <div class="d-grid gap-4 overflow-auto text-center">
        {{>cards/testimonial user="John Doe" car="Alfa Romeo Giulia" time="3 mins ago" stars=4}}
        {{>cards/testimonial user="Colin Serster" car="Alfa Romeo Giulia" time="2 days ago" stars=3}}
      </div>
      <br>
    </div>
    
  </form>
</section>
