<div class="reservations">
  {{#unless reservations}}
  <div class="row justify-content-center mt-5">
    <div class="alert alert-info p-4 py-5 m-4 text-center w-75">
      It seems that you haven't made any reservations yet.
      Go to <a href="/" class="alert-link">the home page</a> to book one now!
    </div>
  </div>
  {{/unless}}
  {{#each reservations}}
  <section class="card my-5 mx-lg-5 border-5 {{#if carPlate}}border-success{{else}}border-warning{{/if}}">
    <div class="card-body p-4 overflow-auto">
      {{>cards/details category days=days imgWidth=300 }}
      
      <div class="d-flex justify-content-evenly align-items-center gap-3 flex-wrap text-center mt-4 py-3 bg-body-tertiary">
        <p class="fs-5 m-0">
          You have reserved this car in <strong>{{location}}</strong>
          from {{{date dateFrom}}} to {{{date dateTo}}}
        </p>
      </div>

      <div class="d-flex justify-content-end align-items-center gap-4 w-100 mt-3 p-1 pb-0">
        <h4 class="m-0">
          {{#if carPlate}}Old rental{{else}}Reserved vehicle{{/if}}
        </h4>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reservationModal{{@index}}">
          {{#if carPlate}}Rate it{{else}}Cancel{{/if}}
        </button>
      </div>

      <!-- Popup Modal -->
      <div class="modal fade text-center" id="reservationModal{{@index}}" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5">
                {{#if carPlate}}Rate reservation{{else}}Cancel reservation{{/if}}
              </h1>
              <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              {{#if carPlate}}
              <form action="/api/set_rating" method="post" id="reservationModalForm{{@index}}">
                <input name="rentalId" value={{_id}} hidden>
                <div class="mb-4 text-primary d-flex justify-content-center flex-row-reverse" id="stars-rating-{{@index}}">
                  <input type="radio" name="rating" value="5" id="5stars-{{@index}}" hidden required>
                  <label class="bi-star fs-3 ps-1" for="5stars-{{@index}}"></label>
                  <input type="radio" name="rating" value="4" id="4stars-{{@index}}" hidden>
                  <label class="bi-star fs-3 ps-1" for="4stars-{{@index}}"></label>
                  <input type="radio" name="rating" value="3" id="3stars-{{@index}}" hidden>
                  <label class="bi-star fs-3 ps-1" for="3stars-{{@index}}"></label>
                  <input type="radio" name="rating" value="2" id="2stars-{{@index}}" hidden>
                  <label class="bi-star fs-3 ps-1" for="2stars-{{@index}}"></label>
                  <input type="radio" name="rating" value="1" id="1stars-{{@index}}" hidden>
                  <label class="bi-star fs-3 ps-1" for="1stars-{{@index}}"></label>
                </div>

                <textarea class="form-control" name="comment" rows="3"
                  placeholder="Leave your comments here"></textarea>
              </form>
              {{else}}
              <form action="/api/unreserve" method="post" id="reservationModalForm{{@index}}">
                <p>Are you sure you want to cancel this reservation</p>
                <input name="reservationId" value={{_id}} hidden>
              </form>
              {{/if}}
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              {{#if carPlate}}
              <button type="submit" form="reservationModalForm{{@index}}" class="btn btn-success">Submit</button>
              {{else}}
              <button type="submit" form="reservationModalForm{{@index}}" class="btn btn-danger">Cancel it</button>
              {{/if}}
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  {{/each}}
</div>
