<section class="card my-5 mx-lg-5">
  <div class="card-body p-4 overflow-auto">
    <div class="d-flex flex-wrap gap-3">
      <div class="flex-shrink-0">
        <img src={{photo}} alt="Car: {{title}}" class="img-fluid rounded" width="250">
      </div>
      <div class="flex-grow-1">
        <div class="d-flex justify-content-between">
          <div>
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text mb-2">like Alfa Romeo Giulia</p>
          </div>
          <div>
            <h2 class="mb-0 me-3">{{price}}€</h2>
            <p class="mb-0" style="font-size:.8em">for 3 days</p>
          </div>
        </div>
        <div class="d-flex justify-content-evenly rounded-3 p-2 mb-2 gap-1 bg-body-secondary">
          <div>
            <p class="small text-muted mb-1">Seats</p>
            <p class="">4</p>
          </div>
          <div class="px-3">
            <p class="small text-muted mb-1">Doors</p>
            <p class="">5</p>
          </div>
          <div>
            <p class="small text-muted mb-1">Transmition</p>
            <p class="">Manual</p>
          </div>
          <div>
            <p class="small text-muted mb-1">Bags</p>
            <p class="">2</p>
          </div>
        </div>
        <div class="d-flex justify-content-end p-1 w-100 pb-0">
          <a href="/vehicle/{{id}}" class="btn btn-primary px-4">See details</a>
        </div>
      </div>
    </div>
  </div>
</section>
