<div class="col-md-7 mx-auto mb-4 mb-md-0">
  <div class="card">
    <div class="card-body py-4 mt-2">
      {{#if user}}
      <h5 class="card-title">{{user.name}} {{user.surname}}</h5>
      {{else}}
      <h6 class="card-title"><em>Deleted user</em></h6>
      {{/if}}
      
      {{#if car}}
      <h6 class="card-title my-3">{{car.make}} {{car.model}} ({{car.plate}})</h6>
      {{else}}
      <h6 class="card-title my-3"><em>Removed car</em></h6>
      {{/if}}

      <ul class="list-unstyled d-flex justify-content-center text-primary">
        {{#if (mt stars 0)}}<i class="bi bi-star-fill"></i>{{else}}<i class="bi bi-star"></i>{{/if}}
        {{#if (mt stars 1)}}<i class="bi bi-star-fill"></i>{{else}}<i class="bi bi-star"></i>{{/if}}
        {{#if (mt stars 2)}}<i class="bi bi-star-fill"></i>{{else}}<i class="bi bi-star"></i>{{/if}}
        {{#if (mt stars 3)}}<i class="bi bi-star-fill"></i>{{else}}<i class="bi bi-star"></i>{{/if}}
        {{#if (mt stars 4)}}<i class="bi bi-star-fill"></i>{{else}}<i class="bi bi-star"></i>{{/if}}
      </ul>
      <p class="mb-2">
        {{comment}}
      </p>
      <p class="card-text">
        {{#if (eq days 0)}}
        <small class="text-muted">Today</small>
        {{else if (eq days 1)}}
        <small class="text-muted">Yesterday</small>
        {{else}}
        <small class="text-muted">{{days}} days ago</small>
        {{/if}}
      </p>
    </div>
  </div>
</div>
