<div class="col-md-7 mx-auto mb-4 mb-md-0">
  <div class="card">
    <div class="card-body py-4 mt-2">
      <h5 class="card-title">{{user.name}} {{user.surname}}</h5>
      <h6 class="card-title my-3">{{car.model}} ({{car.plate}})</h6>
      <ul class="list-unstyled d-flex justify-content-center text-primary">
        {{#if (mt stars 0)}}<i class="bi bi-star-fill"></i>{{else}}<i class="bi bi-star"></i>{{/if}}
        {{#if (mt stars 1)}}<i class="bi bi-star-fill"></i>{{else}}<i class="bi bi-star"></i>{{/if}}
        {{#if (mt stars 2)}}<i class="bi bi-star-fill"></i>{{else}}<i class="bi bi-star"></i>{{/if}}
        {{#if (mt stars 3)}}<i class="bi bi-star-fill"></i>{{else}}<i class="bi bi-star"></i>{{/if}}
        {{#if (mt stars 4)}}<i class="bi bi-star-fill"></i>{{else}}<i class="bi bi-star"></i>{{/if}}
      </ul>
      <p class="mb-2">
        {{comment}}
      </p>
      <p class="card-text">
        <small class="text-muted">{{time}}</small>
      </p>
    </div>
  </div>
</div>
