<form action="/auth/{{action}}" method="post" class="needs-validation" novalidate>

  {{#if (eq action "signup" "edit")}}
  <!-- 2 column grid layout with text inputs for the first and last name -->
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="form-floating">
        <input type="text" class="form-control" name="name" id="floatingFirstName" placeholder="Name" value="{{user.name}}" required>
        {{#if (eq action "edit")}}<div class="form-control-plaintext d-none"></div>{{/if}}
        <label for="floatingFirstName">First name</label>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="form-floating">
        <input type="text" class="form-control" name="surname" id="floatingLastName" placeholder="Surname" value="{{user.surname}}" required>
        {{#if (eq action "edit")}}<div class="form-control-plaintext d-none"></div>{{/if}}
        <label for="floatingLastName">Last name</label>
      </div>
    </div>
  </div>

  <!-- Email and phone inputs -->
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="form-floating">
        <input type="email" class="form-control" name="email" id="floatingEmail" placeholder="Email" value="{{user.email}}" required
          {{#if (eq action "edit")}}disabled{{/if}} >
        <label for="floatingEmail">Email</label>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="form-floating">
        <input type="tel" class="form-control" name="tel" id="floatingPhone" placeholder="Phone" value="{{user.tel}}" required>
        {{#if (eq action "edit")}}<div class="form-control-plaintext d-none"></div>{{/if}}
        <label for="floatingPhone">Phone</label>
      </div>
    </div>
  </div>

  <!-- New password input -->
  <div class="form-floating mb-4 input-group">
    <input type="password" class="form-control" name="password" id="floatingNewPassword" placeholder="New password" required>
    {{#if (eq action "edit")}}<div class="form-control-plaintext d-none"></div>{{/if}}
    <label for="floatingNewPassword">New password</label>
    <span class="input-group-text fs-4 bi-eye" id="passShow"></span>
  </div>
  <!-- Repeat password input -->
  <div class="form-floating mb-4">
    <input type="password" class="form-control" name="confirm-password" id="floatingConfirmPassword" placeholder="Confirm password" required>
    {{#if (eq action "edit")}}<div class="form-control-plaintext d-none"></div>{{/if}}
    <label for="floatingConfirmPassword">Confirm password</label>
  </div>

  <br><br>

  {{else}}

  <!-- Email input -->
  <div class="form-floating mb-4">
    <input type="email" class="form-control" name="email" id="floatingEmail" placeholder="Email" required autofocus>
    <label for="floatingEmail">Email</label>
  </div>

  <!-- Password input -->
  <div class="form-floating mb-4 input-group">
    <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password" required>
    <label for="floatingPassword">Password</label>
    <span class="input-group-text fs-4 bi-eye" id="passShow"></span>
  </div>

  <!-- Remember me checkbox -->
  <div class="form-check text-start mb-4">
    <input class="form-check-input dmxValidator-invalid" type="checkbox" name="rememberMe" id="rememberMeCheck">
    <label class="form-check-label" for="rememberMeCheck">Remember me</label>
  </div>
  {{/if}}

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary w-100 mb-4">
    {{#if (eq action "edit")}}
    Save
    {{else if (eq action "signup")}}
    Sign up
    {{else}}
    Sign in
    {{/if}}
  </button>

</form>
